:root {
    /* Primary Colors */
    --primary-color: #284B63;
    --secondary-color: #F5A962;
    --tertiary-color: #ED7D3A;

    /* Font */
    --font-base: "Poppins", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font-family: var(--font-base);
}

html,
body {
    height: 100%;
    font-size: 1rem;
}

body {
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.1;
}

#root,
#__next {
    isolation: isolate;
}

/* general styling */
body {
    background-color: #f7f7f7;
    color: #303030;
}

a {
    text-decoration: none;
}

a:hover,
a:focus,
a:focus-within {
    text-decoration: underline;
}